/* Réinitialisation de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  color: #ffffff;
}

/*#######Header######## */
.header {
  background: url('../img/image2.avif');
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background: url('../img/image2.avif')
}

.header li a {
  display: block;
  padding: 20px 20px;
  background: url('../img/image2.avif')
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background: url('../img/image2.avif')
}

.header .logo {
  display: block;
  color: #fff;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/*#######Bannière######## */
.banniere {
  width: 100%;
  height: 550px;
  background: url('../img/image1.jpg');
  background-size: cover;
  background-position-y: -570px;
}
/*#######Contenue de la page ######## */


/*#######Barre de Recherche######## */

.barreRecherche{
  display: flex;
  justify-content: center;
}

/* ------- Footer ------- */
.footer {
  background: url('../img/image2.avif')
}
.footer p {
  font-size: medium;
}
.reseau {
  background-position: left;
  color: #fff;
  font-size: 3em;
  padding: 35px;
  filter: drop-shadow(10px 4px 5px #202020);
}


.film-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.film-card {
  width: calc(50% - 20px);
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.film-card a {
  text-decoration: none;
  color: black;
}

.film-card img {
  width: 100%;
  height: auto;
}

.film-card h2, .film-card p {
  padding: 0 15px;
}

.film-details {
  padding: 20px;
}

.film-details img {
  width: 100%;
  height: auto;
}

.film-recommendations {
  margin-top: 20px;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px 0;
}

.recommendation-card {
  flex: 0 0 auto; /* Les éléments ne grandissent pas, ne rétrécissent pas, mais sont basés sur leur largeur */
  width: 160px; /* Définissez une largeur fixe pour chaque carte de recommandation */
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.recommendation-card img {
  width: 100%;
  height: auto;
  display: block; /* Élimine l'espace sous les images */
}

.recommendation-card h3 {
  font-size: 1rem;
  padding: 5px;
  text-align: center;
}

/* Ajoutez des styles pour gérer les barres de défilement sur différents navigateurs */
.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #efefef;
}

@media (min-width: 600px) {
  .film-card {
      width: calc(33.333% - 20px);
  }

  .film-details img {
      max-height: 400px; /* limite la hauteur de l'image pour éviter qu'elle soit trop grande */
      object-fit: cover; /* assure que l'image couvre la zone définie sans perdre son ratio d'aspect */
      margin-right: 20px; /* ajoute un peu d'espace entre l'image et le texte à côté */
  }

  .film-details > * {
      flex: 1; /* donne une flexibilité égale aux éléments enfants direct de .film-details, permettant un arrangement plus équilibré */
  }
}

@media (min-width: 900px) {
  .film-card {
      width: calc(25% - 20px);
  }
}
